[submodule "src/github.com/astaxie/beego"]
    path = src/github.com/astaxie/beego
    url = github.com/astaxie/beego
[submodule "src/github.com/gographics/imagick"]
	path = src/github.com/gographics/imagick
	url = github.com/gographics/imagick
[submodule "src/github.com/lazywei/go-opencv"]
	path = src/github.com/lazywei/go-opencv
	url = github.com/lazywei/go-opencv
[submodule "src/github.com/satori/uuid"]
	path = src/github.com/satori/uuid
	url = github.com/satori/uuid
	
